# Betriebssystem
*.swp
.DS_Store
Thumbs.db

# IDE
.idea
*.iml

# Ionic
node_modules/
platforms/
plugins/
npm-debug.log
.sass-cache
.gradle
bower_components
/www/
target/

config.xml

translations.json

test-config/.chrome

instrumentscli*/**/*

# JS Files (generated)
/src/ng/**/*.js
!/src/ng/service-worker.js

*.apk

.sourcemaps/
Latest
test-output
prev-coverage
